body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
h1{
  color: #082f68;
}
h2{
  color:#082f68
}

h3{
  color:#295290;
  font-size: 30px;
  text-align: center;

}
p{
  color:#295290;
  font-size: 20px;
}

.lead{
  font-size: 30px;
  color:#295290
}
.call-move{
  font-size: 30px;
}
.lead-urgencias{
  padding-top: 20px;
  color: #295290;
  font-size: 1em;
  font-style: italic;
}
.btn-outline-success{
  color: #295290
}
.redeslogosoltar{
  height:160px;
}
.comoiracentrosoltar{
  height: 60px;
}
.logosoltar{
  height: 70px;
  border-radius: 10px;
}
.navbar{
  background-color: #295290;
  list-style: none;
}
.btn{
  background-color: #295290;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}



.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}



@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
    }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}



.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}



.featurette-divider {
  margin: 5rem 0; 



}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
}


@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.fa-whatsapp{
  position:fixed;
  bottom:0px;
  right: 80px;
  color: white;
  background-color: rgba(0,209,255,1);
  padding: 20px 20px 50px 20px;
  font-size: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}